{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-12">
                            <h5 class="">{% if object %}Edit {{ object.name }} {{ object.brand }} {% else %}Add notebook{% endif %}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" autocomplete=off enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.name.errors }}
                                        <label class="form-control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.brand.errors }}
                                        <label class="form-control-label" for="{{ form.brand.id_for_label }}">{{ form.brand.label }}</label>
                                        {{ form.brand }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.number.errors }}
                                        <label class="form-control-label" for="{{ form.number.id_for_label }}">{{ form.number.label }}</label>
                                        {{ form.number }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.age.errors }}
                                        <label class="form-control-label" for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
                                        {{ form.age }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-left mb-0">
                                        {% if object %}
                                        <button class="btn btn-warning waves-effect waves-light mr-1" type="submit">
                                            Save changes
                                        </button>
                                        {% else %}
                                        <button class="btn btn-success waves-effect waves-light mr-1" type="submit">
                                            Add
                                        </button>
                                        {% endif %}
                                        <a href="{% url 'index' %}" class="btn btn-danger waves-effect waves-light">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}